importFrom(stats, bw.nrd, cov, dnorm, lm, quantile, rexp, sd, var, wilcox.test, pnorm, approx, qnorm, rnorm, vcov, nls, nls.control, density, glm, predict, binomial)
importFrom(survival, survfit, Surv, coxph, basehaz)
importFrom(Matrix, bdiag)

exportPattern("^[[:alpha:]]+")
